.banner {
	background-image: url('img/test.jpg');
	background-size: cover;
	height: 500px;
	border-bottom: 1px solid #ddd;
}
.post {
	padding-top: 40px;
}
.content {
	/*background-color: red;*/
	margin: 40px 0;
}
@media (min-width: 992px) {
	.container {
	    max-width: 800px;
	}
}